<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/cart.css">

    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

        <main>
            <ul class="cart__item-list">
                <% products.forEach(p => { %>
                    <li class="cart__item">
                        <h1><%= p.productId.title %>-<%= p.productId.to %></h1>
                        <a href="http://localhost:3010/track.html" target="_blank" class="button">Track</a>
                    </li>
                <% }) %>
            </ul>
            <div class="centered">
                <h2>Total: <%= totalSum %></h2>
            </div>
            <div class="centered">
                <form action="/create-order" method="POST">
                    <script
                      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                      data-key="pk_test_99HvB4jn2lcOTp84FAxAhh8N00sH3KAgIB"
                      data-amount="<%= totalSum * 100 %>"
                      data-name="Your Order"
                      data-description="All the items you ordered"
                      data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                      data-locale="auto"
                      data-currency="inr">
                    </script>
                  </form>
            </div>

        </main>
        <%- include('../includes/end.ejs') %>
